In [1]:
import pandas as pd
import numpy as np

In [9]:
DATA_URL = ("Motor_Vehicle_Collisions_-_Crashes.csv")

data = pd.read_csv(DATA_URL, nrows=100, parse_dates=[['CRASH_DATE', 'CRASH_TIME']])
data.dropna(subset=['LATITUDE', 'LONGITUDE'], inplace=True)
data.head()

,CRASH_DATE_CRASH_TIME,BOROUGH,ZIP_CODE,LATITUDE,LONGITUDE,LOCATION,ON_STREET_NAME,CROSS_STREET_NAME,OFF_STREET_NAME,INJURED_PERSONS,...,CONTRIBUTING_FACTOR_VEHICLE_2,CONTRIBUTING_FACTOR_VEHICLE_3,CONTRIBUTING_FACTOR_VEHICLE_4,CONTRIBUTING_FACTOR_VEHICLE_5,COLLISION_ID,VEHICLE_TYPE_1,VEHICLE_TYPE_2,VEHICLE_TYPE_3,VEHICLE_TYPE_4,VEHICLE_TYPE_5
10,2014-02-03 20:30:00,NaN,NaN,40.734926,-73.923111,POINT (-73.9231109 40.7349257),NaN,NaN,NaN,0,...,NaN,NaN,NaN,NaN,3046267,PASSENGER VEHICLE,NaN,NaN,NaN,NaN
17,2016-06-12 00:00:00,MANHATTAN,10027.0,40.807770,-73.945490,POINT (-73.94549 40.80777),WEST 125 STREET,LENOX AVENUE,NaN,1,...,NaN,NaN,NaN,NaN,3479672,PASSENGER VEHICLE,NaN,NaN,NaN,NaN
23,2018-08-01 05:15:00,NaN,NaN,40.895195,-73.880120,POINT (-73.88012 40.895195),JEROME AVENUE,NaN,NaN,1,...,NaN,NaN,NaN,NaN,4026252,Sedan,NaN,NaN,NaN,NaN
31,2018-07-31 13:12:00,NaN,NaN,40.833736,-73.888810,POINT (-73.88881 40.833736),HOE AVENUE,NaN,NaN,0,...,NaN,NaN,NaN,NaN,3953333,Sedan,NaN,NaN,NaN,NaN
42,2020-04-04 22:52:00,BROOKLYN,11207.0,40.669190,-73.885700,POINT (-73.8857 40.66919),BLAKE AVENUE,JEROME STREET,NaN,0,...,Unspecified,NaN,NaN,NaN,4307654,Sedan,Sedan,NaN,NaN,NaN

In [11]:
lowercase = lambda x: str(x).lower()
data.rename(lowercase, axis='columns')

,crash_date_crash_time,borough,zip_code,latitude,longitude,location,on_street_name,cross_street_name,off_street_name,injured_persons,...,contributing_factor_vehicle_2,contributing_factor_vehicle_3,contributing_factor_vehicle_4,contributing_factor_vehicle_5,collision_id,vehicle_type_1,vehicle_type_2,vehicle_type_3,vehicle_type_4,vehicle_type_5
10,2014-02-03 20:30:00,NaN,NaN,40.734926,-73.923111,POINT (-73.9231109 40.7349257),NaN,NaN,NaN,0,...,NaN,NaN,NaN,NaN,3046267,PASSENGER VEHICLE,NaN,NaN,NaN,NaN
17,2016-06-12 00:00:00,MANHATTAN,10027.0,40.807770,-73.945490,POINT (-73.94549 40.80777),WEST 125 STREET,LENOX AVENUE,NaN,1,...,NaN,NaN,NaN,NaN,3479672,PASSENGER VEHICLE,NaN,NaN,NaN,NaN
23,2018-08-01 05:15:00,NaN,NaN,40.895195,-73.880120,POINT (-73.88012 40.895195),JEROME AVENUE,NaN,NaN,1,...,NaN,NaN,NaN,NaN,4026252,Sedan,NaN,NaN,NaN,NaN
31,2018-07-31 13:12:00,NaN,NaN,40.833736,-73.888810,POINT (-73.88881 40.833736),HOE AVENUE,NaN,NaN,0,...,NaN,NaN,NaN,NaN,3953333,Sedan,NaN,NaN,NaN,NaN
42,2020-04-04 22:52:00,BROOKLYN,11207.0,40.669190,-73.885700,POINT (-73.8857 40.66919),BLAKE AVENUE,JEROME STREET,NaN,0,...,Unspecified,NaN,NaN,NaN,4307654,Sedan,Sedan,NaN,NaN,NaN
45,2020-04-03 17:45:00,NaN,NaN,40.732830,-73.974150,POINT (-73.97415 40.73283),FDR DRIVE,NaN,NaN,1,...,NaN,NaN,NaN,NaN,4307474,Sedan,NaN,NaN,NaN,NaN
49,2018-07-31 07:25:00,BRONX,10456.0,40.830048,-73.906320,POINT (-73.90632 40.830048),NaN,NaN,3475 3 AVENUE,0,...,NaN,NaN,NaN,NaN,3952146,Sedan,NaN,NaN,NaN,NaN
51,2018-07-30 11:00:00,NaN,NaN,40.792263,-73.793320,POINT (-73.79332 40.792263),THROGS NECK BRIDGE,NaN,NaN,0,...,NaN,NaN,NaN,NaN,3952522,Sedan,NaN,NaN,NaN,NaN
57,2014-01-31 14:10:00,NaN,NaN,40.826454,-73.855328,POINT (-73.8553285 40.8264543),NaN,NaN,NaN,0,...,Unspecified,NaN,NaN,NaN,2889433,VAN,PASSENGER VEHICLE,NaN,NaN,NaN
60,2018-07-30 21:14:00,NaN,NaN,40.736732,-73.854510,POINT (-73.85451 40.736732),LONG ISLAND EXPRESSWAY,NaN,NaN,0,...,Unspecified,Unspecified,NaN,NaN,3951337,Taxi,Taxi,Taxi,NaN,NaN
73,2020-03-27 00:00:00,NaN,NaN,40.875122,-73.905174,POINT (-73.905174 40.875122),MAJOR DEEGAN EXPRESSWAY,NaN,NaN,0,...,NaN,NaN,NaN,NaN,4304452,Sedan,NaN,NaN,NaN,NaN
78,2020-03-27 19:15:00,QUEENS,11419.0,40.693604,-73.822900,POINT (-73.8229 40.693604),NaN,NaN,124-05 95 AVENUE,0,...,NaN,NaN,NaN,NaN,4304485,Sedan,NaN,NaN,NaN,NaN
82,2020-03-27 09:55:00,NaN,NaN,40.809563,-73.929230,POINT (-73.92923 40.809563),EAST 135 STREET,3 AVENUE,NaN,0,...,Unspecified,NaN,NaN,NaN,4304512,Sedan,Sedan,NaN,NaN,NaN
85,2020-03-26 20:00:00,QUEENS,11428.0,40.728207,-73.738170,POINT (-73.73817 40.728207),NaN,NaN,90-42 BORKEL PLACE,0,...,NaN,NaN,NaN,NaN,4304245,Sedan,NaN,NaN,NaN,NaN
91,2018-07-28 16:30:00,QUEENS,11385.0,40.705135,-73.902930,POINT (-73.90293 40.705135),NaN,NaN,2012 MADISON STREET,0,...,NaN,NaN,NaN,NaN,3950616,Sedan,NaN,NaN,NaN,NaN
95,2016-06-09 22:05:00,BROOKLYN,11224.0,40.580376,-73.983315,POINT (-73.983315 40.580376),NaN,NaN,2757 WEST 15 STREET,0,...,NaN,NaN,NaN,NaN,3460473,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
97,2018-07-28 22:20:00,NaN,NaN,40.786785,-73.809710,POINT (-73.80971 40.786785),CROSS ISLAND PARKWAY,NaN,NaN,1,...,NaN,NaN,NaN,NaN,3949913,Motorcycle,NaN,NaN,NaN,NaN
98,2016-06-09 07:15:00,NaN,NaN,40.770060,-73.906790,POINT (-73.90679 40.77006),42 STREET,NaN,NaN,0,...,NaN,NaN,NaN,NaN,3459634,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN